#nav{
    margin-left: 0;
    margin-bottom: 5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

#nav a{
    margin-left: 3em;

}

#nav a:hover {
    background: black;

    border-radius: 5px;
    color: white;

}

/* #nav a {
    display: block;
    padding: 1em;
  } */


    #nav a {
        font-size: larger;
        color: black;
        font-weight: bold;
        padding: 1em;
        letter-spacing: .45rem;


    }

    #nav{
        list-style: none;
        text-transform: uppercase;
    }


